.mainAdmin {
  background-color: #f8f8fa;
}
.containerAdmin {
  display: flex;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}
.title {
  color: #283448;
  font-size: 20px;
}
.asideAdmin {
  width: 19%;
  max-width: 250px;
  background: #121a28;
  height: 100svh;
  border-right: 1px solid #eaedf1;
  position: relative;
}
.contentAdmin {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 81%;
  display: flex;
  flex-direction: column;
  color: #6c6e8b;
}
.contentAdmin::-webkit-scrollbar {
  display: none;
}
.asideAdmin header {
  padding: 25px 25px 10px 25px;
  gap: 6px;
}
.asideAdmin header img {
  border-radius: 5px;
  width: 25px;
}
.asideAdmin header button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: -25px;
  background-color: transparent;
  border: 3px solid #9092b0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.asideAdmin header button:hover {
  background-color: #eaedf1;
}
.asideAdmin header button img {
  width: 60%;
}
.asideAdmin header span {
  font-size: 16px;
  font-weight: 600;
  color: rgba(234, 237, 241, 0.7);
}
.asideAdmin nav h2 {
  text-transform: uppercase;
  font-size: 12px;
  color: #b9bad0;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 25px 25px 5px 25px;
}
.asideAdmin nav ul {
  margin-top: 10px;
}
.asideAdmin nav ul li {
  position: relative;
}
.asideAdmin nav ul li::before {
  position: absolute;
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background: transparent;
}
.asideAdmin nav ul li:nth-of-type(1) {
  border-top: 1px solid #324159;
}
.asideAdmin nav ul li a {
  padding: 14px 25px;
  color: #e0e1eb;
  display: flex;
  height: 100%;
  font-size: 17px;
  border-bottom: 1px solid #324159;
}
.asideAdmin nav ul li:hover::before,
.asideAdmin nav ul .active::before {
  background: #ffd700;
}
.asideAdmin nav ul li:hover a,
.asideAdmin nav ul .active a {
  background-image: linear-gradient(to right, #f4f2fa, #fefefe);
  color: #1e293b;
}
.asideAdmin nav ul li img {
  width: 15px;
  margin-right: 15px;
}
.asideAdmin .asideFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #9092b0;
  width: 100%;
}
.headerImages {
  gap: 18px;
}
.headerImages img {
  width: 18px;
  cursor: pointer;
}
.countArea {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.countArea .count {
  top: -7px;
  left: -5px;
}
.headerAdmin {
  height: 70px;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #eaedf1;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
  justify-content: space-between;
}
.headerAdmin .imageUser {
  width: 45px;
  height: 45px;
}
.headerAdmin .imageUser img {
  width: 100%;
  border-radius: 50%;
}
.headerAdmin .logout {
  padding: 8px 25px;
  background-color: transparent;
  border: 1px solid #eab308;
  background-color: #eab308;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
}
.headerAdmin .logout:hover {
  background-color: #cd9a02;
}
.headerAdminContainer {
  gap: 22px;
  width: 62%;
  justify-content: space-between;
}
.headerAdminContainer p {
  text-align: center;
  font-weight: 600;
}
.headerAdminContainer form {
  display: flex;
  align-items: center;
  background-color: #eaedf1;
  border: 1px solid #eaedf1;
  padding: 0 15px;
  border-radius: 5px;
  height: 40px;
}
.headerAdminContainer form input {
  border: none;
  background-color: transparent;
}
.headerAdminContainer form input:focus {
  outline: none;
}
.headerAdminContainer form img {
  width: 20px;
}
.metrics {
  padding: 20px;
}
.metrics h2 {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.pageInfo {
  font-weight: 400;
  font-size: 18px;
}
.charts {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.bigCharts {
  gap: 0px;
}
.bigChart,
.chart {
  background-color: white;
  padding: 25px;
  border: 1px solid#eceaf3;
  border-radius: 15px;
  width: 50%;
}
.minChart {
  width: 50%;
}
.largeChart {
  width: 100%;
}
.bigChart:nth-of-type(1) {
  border-radius: 15px 0 0 15px;
}
.bigChart:nth-of-type(2) {
  border-radius: 0 15px 15px 0;
}
.minChart .chartContainer {
  justify-content: space-between;
}
.minChart .chartContainer img {
  width: 30px;
}
.largeChart {
  padding: 0;
}
.performanceChart {
  padding: 25px;
}
.largeChart .chartContainer {
  justify-content: space-between;
}
.chartContainer .image {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  background-image: linear-gradient(to right, white, transparent),
    url("/images/waves.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 25px;
  position: relative;
  height: 100%;
}
.textArea {
  padding: 0 25px;
  height: 260px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 60%;
}
.textArea span {
  color: #6b7280;
}
.textArea h3 {
  color: #283448;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.chartMetrics {
  display: flex;
  margin-top: 60px;
  gap: 35px;
}
.chartMetric:nth-of-type(2) {
  padding-left: 30px;
  border-left: 1px solid #eaedf1;
}
.chartMetric img {
  width: 15px;
}
.chartContainer .image img {
  width: 220px;
  right: 0;
  top: 0;
}
.chartInfo {
  text-align: right;
}
.chartInfo h3 {
  font-size: 20px;
  font-weight: 600;
  color: #283448;
}
.chartInfo span {
  color: #6b7280;
}
.bigChart h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #283448;
}
.bigChart span {
  color: #6b7280;
}
.icon {
  width: 70px;
  min-width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid#eceaf3;
  border-radius: 15px;
}
.clientPlus {
  background-color: #e1f8e9;
}
.mostRequested {
  background-color: #fbf5e4;
}
.tableChart {
  width: 100%;
}
.tableChart table {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.tableChart table thead {
  background-color: #eaedf1;
  height: 60px;
  text-transform: capitalize;
}
.tableChart table tbody td {
  border: 1px solid #eaedf1;
  text-align: center;
}
.tableChart table tbody td img {
  width: 45px;
  border-radius: 50%;
}
@media (max-width: 1100px) {
  .asideAdmin {
    width: 70px;
    min-width: 45px;
  }
  .contentAdmin {
    width: auto;
    flex-grow: 1;
  }
  .asideAdmin span,
  .asideAdmin h2,
  .asideAdmin .asideFooter {
    display: none;
  }
  .asideAdmin nav ul:nth-of-type(2) {
    margin-top: -1px;
  }
  .asideAdmin nav ul li {
    height: 50px;
  }
  .asideAdmin nav ul li a {
    padding: 10px 0;
  }
  .asideAdmin nav ul li a img {
    margin: 0 auto;
    display: block;
    width: 18px;
  }
  .asideAdmin header {
    padding: 25px 0;
  }
  .asideAdmin header img {
    margin: 0 auto;
    display: block;
    width: 30px;
  }
  .bigCharts {
    flex-direction: column;
    gap: 15px;
  }
  .charts .bigChart {
    width: 100%;
  }
  .bigChart:nth-of-type(1),
  .bigChart:nth-of-type(2) {
    border-radius: 15px;
  }
  .textArea h3 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .asideAdmin {
    width: 55px;
    min-width: 55px;
  }
  .bigChart,
  .chart {
    padding: 20px;
  }
  .largeChart .chartContainer {
    flex-direction: column;
  }
  .largeChart .chartContainer .textArea {
    height: auto;
  }
  .largeChart .chartContainer .textArea,
  .largeChart .chartContainer .image {
    width: 100%;
    padding: 0;
  }
  .largeChart .chartContainer .image {
    justify-content: center;
  }
}
@media (max-width: 670px) {
  .headerImages {
    display: none;
  }
  .headerAdminContainer {
    width: 100%;
  }
  .headerAdminContainer form,
  .headerAdminContainer form input {
    width: 100%;
  }
  .metrics h2 {
    font-size: 20px;
  }
  .metrics .textArea h2 {
    font-size: 18px;
  }
}
@media (max-width: 560px) {
  .pageInfo,
  .recharts-layer {
    display: none;
  }
  .charts {
    flex-direction: column;
  }
  .minChart {
    width: 100%;
  }
  .chartMetrics {
    margin-top: 40px;
    gap: 15px;
  }
  .chartMetric:nth-of-type(2) {
    padding-left: 15px;
  }
  .chartTitle {
    margin-top: -40px;
  }
  .moneyChart > div {
    margin-top: -40px;
  }
  .chartInfo {
    padding-left: 15px;
  }
  .chartInfo h3,
  .chartTitle h3,
  .bigChart p h3 {
    font-size: 18px;
  }
  .chartInfo span,
  .chartTitle span,
  .bigChart span {
    font-size: 14px;
  }
  .textArea span {
    font-size: 16px;
  }
  .minChart .chartContainer img {
    width: 23px;
  }
}
@media (max-width: 340px) {
  .chartTitle {
    margin-top: -80px;
  }
  .moneyChart > div {
    margin-top: -60px;
  }
  .chartInfo h3,
  .chartTitle h3,
  .bigChart p h3 {
    font-size: 16px;
  }
}
