.mainAdmin {
  background-color: var(--lightAdmin);
  height: 100%;
}
.containerAdmin {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.title {
  color: var(--darkAdmin);
  font-size: 20px;
}
.asideAdmin {
  width: 19%;
  max-width: 250px;
  background: white;
  height: 100svh;
  border-right: 1px solid var(--lightGrayAdmin);
  position: relative;
}
.contentAdmin {
  position: relative;
  flex: 1;
  height: 100svh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 81%;
  display: flex;
  flex-direction: column;
  color: var(--textAdmin);
  padding-bottom: 120px !important;
}
.contentAdmin::-webkit-scrollbar {
  display: none;
}
.asideAdmin header {
  padding: 25px 25px 10px 25px;
  gap: 6px;
}
.asideAdmin header img {
  border-radius: 5px;
  width: 25px;
}
.asideAdmin header span {
  font-size: 16px;
  font-weight: 600;
  color: var(--grayAdmin);
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.asideAdmin nav h2 {
  text-transform: uppercase;
  font-size: 12px;
  color: #8c8ea5;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 25px 25px 5px 25px;
}
.asideAdmin nav ul {
  margin-top: 10px;
}
.asideAdmin nav ul li {
  position: relative;
}
.asideAdmin nav ul li:hover,
.asideAdmin nav ul .active {
  background-color: var(--lightGrayAdmin);
}
.asideAdmin nav ul li::before {
  position: absolute;
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background: transparent;
}
.asideAdmin nav ul li:nth-of-type(1) {
  border-top: 1px solid var(--lightGrayAdmin);
}
.asideAdmin nav ul li a {
  padding: 14px 25px;
  color: var(--grayAdmin);
  display: flex;
  height: 100%;
  font-size: 17px;
  border-bottom: 1px solid var(--lightGrayAdmin);
}
.asideAdmin nav ul li img {
  width: 15px;
  margin-right: 15px;
}
.asideAdmin .asideFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: var(--grayAdmin);
  width: 100%;
}
.headerImages {
  gap: 18px;
}
.headerImages a {
  align-items: center;
  display: flex;
}
.headerImages img {
  width: 18px;
  cursor: pointer;
}
.countArea {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.countArea .count {
  top: -7px;
  left: -5px;
}
.headerAdmin {
  height: 70px;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid var(--lightGrayAdmin);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
  justify-content: space-between;
}
.headerAdmin .imageUser {
  width: 45px;
  height: 45px;
}
.headerAdmin .imageUser img {
  width: 100%;
  border-radius: 50%;
}
.headerAdmin .logout {
  padding: 8px 25px;
  background-color: transparent;
  border: 1px solid var(--yellowAdmin);
  background-color: var(--yellowAdmin);
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-left: 20px;
  text-transform: uppercase;
}
.headerAdmin .logout:hover {
  background-color: #cd9a02;
  border: 1px solid #cd9a02;
}
.headerAdminContainer {
  gap: 22px;
  width: 62%;
  justify-content: space-between;
}
.headerAdminContainer p {
  text-align: center;
  font-weight: 600;
}
.headerAdminContainer form {
  display: flex;
  align-items: center;
  background-color: var(--lightGrayAdmin);
  border: 1px solid var(--lightGrayAdmin);
  padding: 0 15px;
  border-radius: 5px;
  height: 40px;
}
.headerAdminContainer form input {
  border: none;
  background-color: transparent;
  font-size: 18px;
}
.headerAdminContainer form input:focus {
  outline: none;
}
.headerAdminContainer form img {
  width: 20px;
}
.metrics {
  padding: 20px;
  height: 100%;
}
.metrics h2 {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.pageInfo {
  font-weight: 400;
  font-size: 18px;
}
.charts {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.bigCharts {
  gap: 0px;
}
.bigChart,
.chart {
  background-color: white;
  padding: 25px;
  border: 1px solid var(--lightGrayAdmin);
  border-radius: 15px;
  width: 50%;
}
.minChart {
  width: 50%;
}
.largeChart {
  width: 100%;
}
.bigChart:nth-of-type(1) {
  border-radius: 15px 0 0 15px;
}
.bigChart:nth-of-type(2) {
  border-radius: 0 15px 15px 0;
}
.minChart .chartContainer {
  justify-content: space-between;
}
.minChart .chartContainer img {
  width: 30px;
}
.largeChart {
  padding: 0;
}
.performanceChart {
  padding: 25px;
}
.largeChart .chartContainer {
  justify-content: space-between;
}
.chartContainer .image {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  background-image: linear-gradient(to right, white, transparent),
    url("/images/waves.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 25px;
  position: relative;
  height: 100%;
}
.textArea {
  padding: 0 25px;
  height: 260px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 60%;
}
.textArea span {
  color: var(--grayAdmin);
}
.textArea h3 {
  color: var(--darkAdmin);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
}
.chartMetrics {
  display: flex;
  margin-top: 60px;
  gap: 35px;
}
.chartMetric:nth-of-type(2) {
  padding-left: 30px;
  border-left: 1px solid var(--lightGrayAdmin);
}
.chartMetric img {
  width: 15px;
}
.chartContainer .image img {
  width: 220px;
  right: 0;
  top: 0;
}
.chartInfo {
  text-align: right;
}
.chartInfo h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--darkAdmin);
  text-transform: capitalize;
}
.chartInfo span {
  color: var(--grayAdmin);
}
.bigChart h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: var(--darkAdmin);
}
.bigChart span {
  color: var(--grayAdmin);
}
.icon {
  width: 70px;
  min-width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--lightGrayAdmin);
  border-radius: 15px;
}
.clientPlus {
  background-color: var(--lightGrayAdmin);
}
.mostRequested {
  background-color: var(--lightAdmin);
}
.tableChart {
  width: 100%;
}
.tableChart h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--darkAdmin);
  margin-bottom: 20px;
}
.tableChart table {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.tableChart table thead {
  background-color: var(--lightGrayAdmin);
  height: 60px;
  text-transform: capitalize;
}
.tableChart table tbody td {
  border: 1px solid var(--lightGrayAdmin);
  text-align: center;
  text-transform: uppercase;
}
.tableChart table tbody td img {
  width: 45px;
  border-radius: 50%;
  margin-top: 6px;
}
.noneScreen {
  display: none;
}
/* menu restaurant */
.menuRestaurant {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.menuRestaurantItem {
  border: 1px solid var(--grayAdminAlt);
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
}
.menuRestaurantImage {
  position: relative;
}
.linkArea {
  position: absolute;
  transition: var(--transition);
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 10;
  right: 0;
  width: 100%;
  height: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  gap: 5px;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  opacity: 0;
}
.menuRestaurantImage:hover .linkArea {
  opacity: 1;
}
.menuRestaurantImage,
.menuRestaurantText {
  width: 100%;
}
.menuRestaurantText {
  padding: 0;
}

.menuRestaurantImage {
  overflow: hidden;
}

.menuRestaurantImage img {
  width: 100%;
  height: 240px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.newProduct {
  border-radius: 10px;
  border: 1px solid var(--color-2);
  background-color: transparent;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--color-2);
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  padding: 15px 25px;
  font-weight: 600;
}

.newProductArea {
  padding-bottom: 80px;
}

.newProduct:hover {
  background-color: var(--color-2);
  color: var(--light);
}

.menuRestaurantItem .btns {
  width: 100%;
  display: flex;
  gap: 5px;
  margin-top: 15px;
}

.menuRestaurantText p {
  color: var(--dark-gray);
}

.categoryProduct {
  color: var(--color-2);
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

.productPrice {
  font-size: 25px;
  margin-top: 10px;
  display: block;
}

.productPrice::before {
  content: "R$ ";
}

.menuRestaurantItem .btns button {
  background-color: var(--color-1);
  color: var(--light);
  font-weight: 700;
  border: 2px solid var(--color-1);
  padding: 0x 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 40px;
  transition: var(--transition);
}

.ic {
  transform: translateY(1px);
  font-size: 18px;
  margin-left: 5px;
}

.menuRestaurantItem .btns .rm {
  background-color: transparent;
  border: 1px solid var(--color-3);
  color: var(--color-3);
  font-weight: 500;
}

.menuRestaurantItem .btns .ed {
  font-weight: 500;
}

.menuRestaurantItem .btns button:hover {
  background-color: var(--color-1-dark);
  border: 1px solid var(--color-1-dark);
}

.menuRestaurantItem .btns .rm:hover {
  background-color: var(--color-3);
  border: 1px solid var(--color-3);
  color: white;
}

.ingredients {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px dotted var(--light-gray-hover);
}

.modal {
  background-color: var(--light);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: fixed;
  padding: 40px 40px 120px 40px;
  top: 0;
  right: 0;
}

.modal h2 {
  margin-bottom: 20px;
}

.modal form input,
.modal form textarea {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
}

.modal form input[type="file"] {
  border: none;
}

.modal label {
  font-size: 20px;
  margin: 15px 0 5px 0;
  display: block;
}

.formBtns {
  margin-top: 20px;
  gap: 10px;
}

.modal button {
  border-radius: 10px;
  transition: var(--transition);
  border: 1px solid var(--color-1);
  text-transform: uppercase;
  background-color: var(--color-1);
  font-weight: 700;
  color: white;
}

.modal button[type="button"] {
  background-color: transparent;
  color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
}

.modal button:hover {
  background-color: var(--color-1-dark);
  border: 1px solid var(--color-1-dark);
  color: white;
}

@media (min-width: 1200px) {
  .menuRestaurant {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1100px) {
  .asideAdmin {
    width: 100svw;
    position: fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
    height: 75px;
    max-width: 100svw;
    border-right: none;
    border-top: 1px solid var(--grayAdminAlt);
    background-color: var(--lightAdmin);
  }
  .asideAdmin > header,
  .asideAdmin nav h2,
  .asideAdmin h2,
  .asideAdmin .asideFooter,
  .noneMobile,
  .asideAdmin nav ul li a .noneMobile {
    display: none;
  }
  .tableChart table tbody td {
    padding: 15px;
  }
  .noneScreen {
    display: block;
  }
  .asideAdmin nav {
    width: 100%;
  }
  .asideAdmin nav,
  .asideAdmin nav ul {
    display: flex;
  }
  .asideAdmin nav ul {
    width: 100%;
    margin: 0;
    border: none;
  }
  .asideAdmin nav ul li {
    width: 25%;
    padding: 5px 0;
  }
  .contentAdmin {
    width: auto;
    flex-grow: 1;
    padding-bottom: 80px;
  }
  .asideAdmin nav ul:nth-of-type(2) {
    margin-top: -1px;
  }
  .asideAdmin nav ul li:nth-of-type(1) {
    border: none;
  }
  .asideAdmin nav ul li a {
    padding: 10px 0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
    border-left: 1px solid var(--grayAdminAlt);
  }
  .asideAdmin nav ul .firstItem a {
    border-left: none;
  }
  .asideAdmin nav ul li a span {
    font-size: 12px;
  }
  .asideAdmin nav ul li a img {
    margin: 0 auto;
    display: block;
    width: 18px;
  }
  .asideAdmin nav ul .orders a img {
    width: 16px;
  }
  .asideAdmin nav ul .sales a img {
    width: 20px;
  }
  .asideAdmin header {
    padding: 25px 0;
  }
  .asideAdmin header img {
    margin: 0 auto;
    display: block;
    width: 30px;
  }
  .bigCharts {
    flex-direction: column;
    gap: 15px;
  }
  .charts .bigChart {
    width: 100%;
  }
  .bigChart:nth-of-type(1),
  .bigChart:nth-of-type(2) {
    border-radius: 15px;
  }
  .textArea h3 {
    font-size: 18px;
  }
  .menuRestaurant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  .menuRestaurantImage img {
    height: 280px;
  }
}
@media (max-width: 767px) {
  .bigChart,
  .chart {
    padding: 20px;
  }
  .largeChart .chartContainer {
    flex-direction: column;
  }
  .largeChart .chartContainer .textArea {
    height: auto;
  }
  .largeChart .chartContainer .textArea,
  .largeChart .chartContainer .image {
    width: 100%;
    padding: 0;
  }
  .largeChart .chartContainer .image {
    justify-content: center;
  }
  .menuRestaurantText {
    padding-left: 15px;
  }
  .btns .ic {
    display: none;
  }
  .productPrice,
  .titleProduct {
    font-size: 20px;
  }
  .menuRestaurant {
    grid-template-columns: repeat(1, 1fr);
  }
  .menuRestaurantImage img {
    height: 320px;
  }
  .linkArea {
    font-size: 18px;
  }
}
@media (max-width: 670px) {
  .headerImages {
    display: none;
  }
  .headerAdminContainer {
    width: 100%;
  }
  .headerAdminContainer form,
  .headerAdminContainer form input {
    width: 100%;
  }
  .metrics h2 {
    font-size: 20px;
  }
  .metrics .textArea h2 {
    font-size: 18px;
  }
  .menuRestaurantImage img {
    height: 280px;
  }
  .newProduct {
    font-size: 14px;
  }
}
@media (max-width: 560px) {
  .headedrAdmin {
    min-height: 74px;
  }
  .pageInfo,
  .recharts-layer {
    display: none;
  }
  .charts {
    flex-direction: column;
  }
  .minChart {
    width: 100%;
  }
  .chartMetrics {
    margin-top: 40px;
    gap: 15px;
  }
  .chartMetric:nth-of-type(2) {
    padding-left: 15px;
  }
  .chartInfo {
    padding-left: 15px;
  }
  .chartInfo h3,
  .bigChart p h3 {
    font-size: 18px;
    text-transform: capitalize;
  }
  .chartInfo span,
  .bigChart span {
    font-size: 14px;
  }
  .textArea span {
    font-size: 16px;
  }
  .minChart .chartContainer img {
    width: 23px;
  }
  .modal label {
    font-size: 15px;
    margin: 10px 0 4 0;
  }
  .menuRestaurantImage img {
    height: 220px;
  }
}
@media (max-width: 360px) {
  .menuRestaurantImage img {
    height: 180px;
  }
}
@media (max-width: 340px) {
  .chartInfo h3,
  .bigChart p h3 {
    font-size: 16px;
  }
}
