* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-1: #ffb100;
  --color-1-dark: #c88c01;
  --color-1-light: #f8f1e2;
  --color-2: #0cbc70;
  --color-3: #d52b1e;
  --color-3-light: #daa4a0;
  --color-4: #059858;
  --light: #f4f4f5;
  --light-gray: #dce5e9;
  --light-gray-hover: #b2bfc5;
  --dark: #323232;
  --dark-gray: #7e8392;
  --section-padding: 60px;
  --shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  --transition: 0.3s all ease-in-out;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
body {
  background-color: var(--light);
  font-family: "Poppins", sans-serif;
  color: var(--dark);
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.wrapper {
  overflow-x: hidden;
  max-width: 100svw;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;
}
.flex {
  display: flex;
  align-items: center;
}
.column {
  flex-direction: column;
  justify-content: center;
}
.btn {
  border-radius: 40px;
  padding: 15px;
  white-space: nowrap;
  cursor: pointer;
  transition: var(--transition);
}
.btn-min {
  border: 1px solid var(--light-gray);
  border-radius: 20px;
  padding: 3px 8px;
  white-space: nowrap;
  text-align: center;
}
.no-scroll {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.no-scroll::-webkit-scrollbar {
  display: none;
}
/* index */
.choose {
  padding-bottom: 60px;
}
.choose .choose__header {
  padding: var(--section-padding) 0;
}
.choose .choose__header .choose__header--title {
  font-size: 14px;
  margin-top: 8px;
  text-transform: capitalize;
  font-weight: 600;
}
.choose .choose__header .choose__header--logo {
  width: 60px;
}
.choose .choose__body {
  margin-top: 30px;
  text-align: center;
}
.choose .choose__body .choose__title {
  font-size: 18px;
  font-weight: 600;
}
.choose .choose__body .choose__description {
  color: var(--dark-gray);
  font-size: 12px;
  margin-top: 15px;
}
.choose .choose__body .choose__options {
  justify-content: space-between;
  margin-top: 40px;
}
.choose .choose__body .choose__options .choose__item {
  border: 1px solid var(--light-gray);
  width: 49%;
  padding: 30px 5px 5px 5px;
  border-radius: 15px;
  gap: 20px;
}
.choose .choose__body .choose__options .choose__item img {
  width: 60px;
}
.choose .choose__body .choose__options .choose__item .choose__item--button {
  background: var(--light-gray);
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}
/* main */
.main__header {
  height: 280px;
  padding-top: 40px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repear;
}
.main__header.order {
  height: 110px;
}
.main__header--buttons {
  justify-content: space-between;
}
.main__header--buttons .main__header--btn {
  background-color: var(--light);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  justify-content: center;
  box-shadow: var(--shadow);
}
.main__header--buttons .main__header--btn img {
  width: 8px;
}
.main__header--buttons .main__header--btn.btn-2 {
  position: relative;
}
.main__header--buttons .main__header--btn.btn-2 img {
  width: 15px;
}
.main__header--buttons .main__header--btn.btn-2 .count {
  position: absolute;
  background-color: var(--color-3);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  justify-content: center;
  font-size: 9px;
  font-weight: 700;
  align-items: center;
  color: var(--light);
  top: -4px;
  left: -4px;
}
.main__header--buttons .main__header--btn.order {
  background-color: var(--light-gray);
}
.offers {
  margin-top: -50px;
  background-color: var(--light);
  border-radius: 25px;
  padding-top: 25px;
}
.offers .offers__header {
  border-bottom: 1px solid var(--light-gray);
  padding-bottom: 20px;
}
.offers .offers__header .container {
  justify-content: space-between;
}
.offers .offers__header .container .offers__header--info img {
  width: 45px;
  height: 50px;
}
.offers
  .offers__header
  .container
  .offers__header--info
  .offers__header--title {
  padding-left: 12px;
}
.offers.alt
  .offers__header
  .container
  .offers__header--info
  .offers__header--title {
  padding-left: 0px;
}
.offers
  .offers__header
  .container
  .offers__header--info
  .offers__header--title
  .offers__description
  .small-logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.offers
  .offers__header
  .container
  .offers__header--info
  .offers__header--title
  .offers__title {
  font-size: 18px;
}
.offers.alt
  .offers__header
  .container
  .offers__header--info
  .offers__header--title
  .offers__title {
  font-size: 16px;
}
.offers
  .offers__header
  .container
  .offers__header--info
  .offers__header--title
  .offers__description {
  color: var(--light-gray-hover);
  font-size: 14px;
}
.offers.alt {
  padding-bottom: 100px;
}
.offers .offers__header .container .reviews {
  gap: 4px;
  font-size: 12px;
  font-weight: 500;
}
.offers .offers__header .container .reviews img {
  width: 12px;
}
.offers .offers__header .time {
  margin-top: 10px;
  justify-content: flex-start;
  gap: 5px;
  font-size: 14px;
}
.offers .offers__header .time.open {
  color: var(--color-2);
}
.offers .offers__header .time.closed {
  color: var(--color-3);
}
.offers .offers__header .time img {
  width: 14px;
}
.offers .offers__categories {
  margin-top: 20px;
}
.offers .offers__categories .container {
  gap: 10px;
}
.offers .offers__categories .container .category {
  padding: 8px 15px;
  font-size: 14px;
  color: var(--dark-gray);
}
.offers .offers__categories .container .category.check {
  border: 1px solid var(--color-1);
  color: var(--light);
  background-color: var(--color-1);
  font-weight: 600;
}
.offers .offers__products {
  margin-top: 20px;
}
.offers .offers__products h2 {
  font-size: 16px;
}
.offers .offers__products > .container {
  margin-top: 30px;
}
.offers .offers__products .product {
  border-bottom: 1px solid var(--light-gray);
  padding: 20px 0 15px 0;
  margin: 10px 0;
}
.offers .offers__products .product .product__text {
  width: 75%;
  padding-right: 12px;
}
.offers .offers__products .product .product__text .product__title {
  font-size: 14px;
  font-weight: 400;
}
.offers .offers__products .product .product__text .product__ingredients {
  font-size: 14px;
  color: var(--dark-gray);
  margin: 8px 0 15px 0;
  width: 100%;
  max-width: 300px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.offers .offers__products .product .product__text .price {
  font-size: 16px;
  font-weight: 600;
}
.offers .offers__products .product .product__image {
  width: 25%;
}
.offers .offers__products .product .product__image img {
  width: 100%;
  border-radius: 10px;
}
.offers .offers__header .container .price-info {
  margin-top: 15px;
  justify-content: space-between;
}
.offers .offers__header .container .price-info .price {
  font-size: 18px;
  font-weight: 700;
}
.offers .offers__header .container .price-info .selector {
  gap: 10px;
}
.offers .offers__header .container .price-info .selector .btn {
  border: 1px solid var(--light-gray);
  padding: 0;
  width: 28px;
  height: 28px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offers .offers__header .container .price-info .selector .btn img {
  width: 8px;
}
.offers.alt .offers__products.offers__products--description p,
.offers.alt .offers__products.offers__products--description ul {
  color: var(--dark-gray);
  font-size: 14px;
  margin-top: 10px;
}
.offers.alt .offers__products.offers__products--description ul li::before {
  content: "•";
  margin-right: 10px;
}
.offers.alt .offers__products.offers__products--description h2 img {
  width: 15px;
  vertical-align: middle;
  margin-right: 10px;
}
.offers.alt .footer-area {
  padding: 20px 0;
  background-color: var(--light);
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
.offers.alt .footer-area .btn {
  color: var(--light);
  background-color: var(--color-1);
  border: 1px solid var(--color-1);
  width: 100%;
  font-weight: 600;
}
.offers.alt .footer-area .btn:hover {
  background-color: var(--color-1-dark);
}
/* orders */
.offers.alt .orders {
  gap: 10px;
  margin-top: 25px;
}
.offers.alt .orders .order {
  border: 1px solid var(--light-gray);
  padding: 20px 15px;
  border-radius: 10px;
  width: 100%;
}
.offers.alt .orders .order .preparing {
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 8px;
  margin-bottom: 15px;
  display: inline-block;
}
.offers.alt .orders .order .preparing.true {
  background-color: var(--color-1-light);
  color: var(--color-1);
}
.offers.alt .orders .order .preparing.false {
  background-color: var(--color-2);
  color: var(--light);
}
.offers.alt .orders .order .order__logo {
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--light-gray);
}
.offers.alt .orders .order .order__logo img {
  width: 15px;
  display: inline-block;
  margin-right: 6px;
}
.offers.alt .orders .order .order__name {
  gap: 6px;
  border-bottom: 1px solid var(--light-gray);
  padding: 15px 0;
}
.offers.alt .orders .order .order__name .quantity {
  font-size: 12px;
  border-radius: 50%;
  background-color: var(--dark-gray);
  color: var(--light);
  display: inline-flex;
  justify-content: center;
  width: 15px;
  height: 15px;
  min-width: 16px;
  min-height: 16px;
}
.offers.alt .orders .order .order__name .name {
  font-weight: 300;
  font-size: 14px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120ch;
}
.offers.alt .orders .order .order__price {
  padding-top: 15px;
  justify-content: space-between;
}
.offers.alt .orders .order .order__price .price {
  font-size: 12px;
}
.offers.alt .orders .order .order__price .add {
  font-weight: 600;
  font-size: 12px;
  color: var(--color-3);
}
.offers.alt .orders .order .order__price .add.true {
  color: var(--color-3-light);
}
@media (min-width: 345px) {
  .choose .choose__body .choose__options .choose__item {
    padding: 30px 12px 12px 12px;
  }
}
@media (min-width: 395px) {
  .choose .choose__body .choose__options .choose__item {
    width: 48%;
    max-width: 250px;
  }
  .choose .choose__body .choose__options .choose__item .choose__item--button {
    font-size: 13px;
    padding: 10px 15px;
  }
  .choose
    .choose__body
    .choose__options
    .choose__item:hover
    .choose__item--button {
    background-color: var(--light-gray-hover);
  }
  .offers .offers__products .product .product__text {
    padding-right: 40px;
  }
  .offers .offers__products .product .product__text .product__ingredients {
    max-width: 1000px;
  }
}
@media (min-width: 420px) {
  .main__header {
    height: 380px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repear;
  }
  .choose .choose__body .choose__options {
    justify-content: center;
    gap: 10px;
  }
  .choose .choose__body {
    margin-top: 0;
  }
}
@media (min-width: 560px) {
  .main__header {
    height: 450px;
  }
  .offers
    .offers__header
    .container
    .offers__header--info
    .offers__header--title
    .offers__title {
    font-size: 22px;
  }
  .offers .offers__header .container .reviews,
  .offers
    .offers__header
    .container
    .offers__header--info
    .offers__header--title
    .offers__description,
  .offers .offers__header .time,
  .offers .offers__categories .container .category {
    font-size: 16px;
  }
  .offers .offers__products h2,
  .offers .offers__products .product .product__text .product__title,
  .offers .offers__products .product .product__text .price {
    font-size: 20px;
  }
  .offers .offers__products > .container {
    margin-top: 40px;
  }
  .offers .offers__products .product .product__text {
    width: 85%;
  }
  .offers .offers__products .product .product__image {
    width: 15%;
  }
  .offers .offers__products .product {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .offers .offers__products .product .product__text .product__ingredients {
    font-size: 18px;
  }
}
@media (min-width: 767px) {
  .main__header {
    height: 650px;
    background-size: cover;
    background-position: top center;
  }
  .main__header--buttons .main__header--btn {
    width: 50px;
    height: 50px;
  }
  .main__header--buttons .main__header--btn.btn-2 img {
    width: 20px;
  }
  .main__header--buttons .main__header--btn.btn-2 .count {
    width: 15px;
    height: 15px;
    font-size: 11px;
  }
  .offers
    .offers__header
    .container
    .offers__header--info
    .offers__header--title
    .offers__title {
    font-size: 26px;
  }
  .main__header--buttons .main__header--btn.btn-2 .count {
    font-size: 12px;
  }
  .main__header.order {
    height: 120px;
  }
  .offers.alt .offers__products.offers__products--description p,
  .offers.alt .offers__products.offers__products--description ul,
  .offers.alt .orders .order .order__name .name,
  .offers.alt .orders .order .order__price .add,
  .offers.alt .orders .order .order__price .price,
  .offers.alt .orders .order .preparing {
    font-size: 16px;
  }
  .offers .offers__header .container .price-info .price {
    font-size: 20px;
  }
  .offers.alt
    .offers__header
    .container
    .offers__header--info
    .offers__header--title
    .offers__title,
  .offers.alt .orders .order .order__logo {
    font-size: 18px;
  }
}
@media (min-width: 990px) {
  .main__header {
    height: 95svh;
  }
}
